* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*-------------------------Nav Container----------------------- */
nav {
    display: flex;
    height: 77px;
    width: 100%;
    background: #C1C1C1;
}
/* Div for 3 main sections*/
#nav-service, #nav-logo, #nav-media {
    Display: flex;
    height: 100%;
    width: calc(100%/3);
}

/* Removes styling from list in nav */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* All links in Nav bar*/
nav a {
    display: inline-block;
    padding: .5em;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}
nav a:hover {
    color: blue;
}

/*----------------------Left nav section-------------------------*/
#nav-service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*----------------------Center nav section-----------------------*/
#nav-logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em .5em;
    position: absolute;
    left: 42%;
    top: 0;
}

/*--------------------Right nav section--------------------------*/
#nav-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



