/*Entire page modify*/
* {
    box-sizing: border-box;
}
/* Background of the entire page*/
body {
    /*background: #87CEFA;*/
}
/* Main Header above the card*/
h1 {
    text-align: center;
}
/* Container for the card*/
.container {
    /*background-color: #FFFFFF;*/
    width: 400px;
    height: 900px;
    margin: 0 auto;
}
.card {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    padding: 1em;
    margin: 0 auto;
}
section {
    display: flex;
}
.green-box {
    height: 2em;
    width: 2em;
    background-color: green;
    border: 1px solid black;
}
