
body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: grey;
}
#show2{display: none}
#show2, #show1{
    position: absolute;
    height: 80vh;
    width: 75vw;
    top: 80px;
    left: 13%;
    background-color: black;
}
iframe{
    display: none;
    position: absolute;
    height: 80vh;
    width: 75vw;
    top: 80px;
    left: 13%;
}
#topBorder{
    position: absolute;
    top: 6px;
    left: 228px;
    size: auto;
    display: inline-block;
}
#bottomBorder{
    position: absolute;
    top: 734px;
    left: 228px;
    size: auto;
    display: inline-block;
}
#mario{
    position: absolute;
    height: auto;
    top: 50px;
    left: 70px;
    display: inline-block;
}
#bulba{
    position: absolute;
    height: auto;
    top: 211px;
    right: 29px;
    display: inline-block;
}
#kirby{
    position: absolute;
    height: auto;
    top: 382px;
    right: 38px;
    display: inline-block;
}
#contraP1{
    position: absolute;
    height: auto;
    top: 200px;
    left: 78px;
    display: inline-block;
}
#contraP1>img{
    height: 120px;
}
#kirbyOG{
    position: absolute;
    height: auto;
    top: 335px;
    left: -20px;
    display: inline-block;
}
#ogLink{
    position: absolute;
    height: auto;
    top: 50px;
    right: 10px;
    display: inline-block;
}
#ogLink>img{
    height: 100px
}
#ootLink{
    position: absolute;
    height: auto;
    top: 537px;
    left: 0;
    display: inline-block;
}
#ootLink>img{
    height: 200px;
}
#pp7{
    position: absolute;
    height: auto;
    top: 730px;
    left: 50px;
    display: none;
}
#pp7>img{
    height: 75px;
}
#tetrisBlock{
    position: absolute;
    height: auto;
    top: 536px;
    right: 15px;
    display: inline-block;
}

/* Picture inside Screen */
.slot{
    background-image: url("../img/konami/slot.gif");
    background-repeat: no-repeat;
    background-position: center;
}
.Contra{
    background-image: url("../img/konami/Contraj_title.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 730px;
}
.KDreamland{
    background-image: url("../img/konami/KDreamLand.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.KAdventure{
    background-image: url("../img/konami/KAdventure.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.ZeldaOG{
    background-image: url("../img/konami/zelda-start-screen.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.OOT{
    background-image: url("../img/konami/OOT.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.pokemon{
    background-image: url("https://i.gifer.com/IQfU.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.mario{
    background-image: url("../img/konami/mario.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.tetris{
    background-image: url("../img/konami/tetris.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}