/* Center Text for Header */
header {
    text-align: center;
}
/* Change color to ALL <h> */
h1, h2 {
    color: lightgreen;
}
/* Background and font*/
body {
    background-color: cadetblue;
    background-image: url("img/sunset.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Cairo', sans-serif;
    color: cyan;
}
/*UL list bullet style*/
ul {
    list-style-type: circle;
}
/*Table styling*/
table {
    border-style: groove;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    color: black;
}
/*Table row styling*/
tr {
    height: 3.5em;
    font-size: larger;
}
/*Footer font*/
footer {
    color: lightgreen;
}
/* unvisited link */
a:link {
    color:lightgreen;
}
/*visited link*/
a:visited {
    color: antiquewhite;
}
/*mouse hover over link*/
a:hover {
    color: lightcyan;
}
/* selected link */
a:active {
    color: cyan;
}
