/* Background and font */
body {
    background-color: #F8F9F9;
    background-image: url("../img/whitewall.jpeg");
    background-repeat: round;
    font-family: 'Comfortaa', cursive;
    color: #34334F;
    font-size: 1.5em;
    text-align: center;
}
/* h element styling */
h1, h2 {
    text-decoration: underline;
}
section#core_values {
    display: inline-grid;
    border: 1px groove #86848C;
    border-radius: 5px;
    background-color: #ACAAC0;
}
section#our_process {
    display: inline-grid;
    border: 1px groove #86848C;
    border-radius: 5px;
    background-color: #ACAAC0;
}
section#vision {
    display: inline-grid;
    border: 1px groove #86848C;
    border-radius: 5px;
    background-color: #ACAAC0;
}
/* List width */
ul#core_value_list {
    width: 220px;
    text-align: left;
}
ol#process_order {
    width: 220px;
    text-align: left;
}
ul#vision_list {
    width: 344px;
    text-align: left;
}
/* Control space next to list bullets */
li span {
    position: relative;
    left: 5px;
}
/* UL list bullet style */
ul {
    list-style-type: circle;
}
/* Table styling */
table {
    border-style: groove;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: #ACAAC0;
}
/* Table row styling */
tr {
    height: 70px;
    font-size: larger;
}
/* Anchor on bottom unvisited */
a:link {
    color: #34334F;
}
/* Anchor on bottom visited */
a:visited {
    color: #34334F;
}
/* Anchor on bottom being hovered */
a:hover {
    color: #86848C;
}
/* Anchor on bottom active */
a:active {
    color: #998D82;
}
