
#main-body-container {
    background-color: cadetblue;
}
#logo-row {
    height: 90vh;
    background-image: url("flag.jpg");
}
.three-cards {
    background: none;
    height:70vh
}

.make-fit {
    object-fit: fill;
}