
body {
    font-family: 'Abel', sans-serif;
    background: #E6E6E6;
}
/* Custom Styling per Exercise*/

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}
h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}
h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}
h4 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
}
h5 {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}

#logo {
    height: 105px;
    width: 105px;
}

.red {
    background: #E6563B;
}

.orange {
    background: #EB0D3A;
}

.green {
    background: #7CB06C;
}

.blue {
    background: #00ABA9;
}

.dim-white {
    background: #F0F0F0;
}

#icons {
    height: 18px;
    width: 18px;
}

/* Large Nav bar */
#large-navbar {
    background: #FFF;
    white-space: nowrap;
    height: 3.5em;
}

#large-inner-nav {
    width: 65%;
}

#lg-nav-company {
    font-size: 2em;
}
#lg-nav-links {
    font-size: 1em;
}

/* Middle Circle Links*/

/*Red Circle*/
#big-design-circle {
    height: 6em;
}

#big-develop-circle {
    height: 150px;
    width: 150px;
}

#big-support-circle {
    height: 6em;
}

#big-host-circle {
    height: 6em;
}
