
body {
    background: #F0F0F0;
    font-family: 'Abel', sans-serif;
}
.navbar-brand img {
    height: auto;
    max-width: 100%;
}
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}
#design-circle {
    background: #E6563B;
}
#develop-circle {
    background: #EB9D3A;
}
#support-circle {
    background: #7CB06C;
}
#host-circle {
    background: #00ABA9;
}