body {
    margin: auto 0;
}
#header-top-line {
    margin: 5px 0;
}
#header-image {
    float: left;
    margin-left: 160px;
}
#header-image img {
    height: 25px;
    width: 90px;
}
#header-nav {
    display: flex;
    float: right;
}
.link-box {
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid black;
}
#header-bot-line {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
    clear: both;
}
